{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
</head>
<body class="animsition">


<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('{% static "images/bg-01.jpg" %}')">
    <h2 class="ltext-105 cl0 txt-center">
        PROFILE
    </h2>
</section>


<!-- Content page -->
<section class="bg0 p-t-104 p-b-116">
    <div class="container">
        <div class="flex-w flex-tr">
            <div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg m-ln-50 w-full-md"
                 style="margin-left: 270px; border: 2px solid #900fc7; background-color: Grey;">
                {% if msg %}
                    <b style="color: rgb(180, 134, 223);">{{msg}}</b>
                {% endif %}
                <form method="post" action="{% url 'profile' %}" enctype="multipart/form-data">
                    {% csrf_token %}
                    <h4 class="mtext-105 cl2 txt-center p-b-30"
                        style="border-bottom: 2px solid #900fc7; color: #000000; padding-bottom: 10px;">
                        UPDATE PROFILE
                    </h4>

                    <div class="cl0 txt-center">
                        <img src="{{ user.profile_picture.url }}" width="150px" height="150px">
                    </div>
					<div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="fname"
                                value="{{ user.fname }}">
                        <i class="bi bi-person how-pos4 pointer-none"></i>
                    </div>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="lname"
                               value="{{ user.lname }}">
                        <i class="bi bi-person how-pos4 pointer-none"></i>
                    </div>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="email"
                                value="{{ user.email }}" readonly>
                        <img class="how-pos4 pointer-none" src="{% static 'images/icons/icon-email.png' %}" alt="ICON">
                    </div>
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="text" name="mobile"
                              value="{{ user.mobile }}">
                        <span class="lnr lnr-phone-handset how-pos4 pointer-none"></span>
                    </div>

                    <div class="bor8 m-b-30" >
						<textarea class="stext-111 cl2 plh3 size-120 p-lr-28 p-tb-25" name="address" placeholder="Your Address">{{user.address}}</textarea>
					</div>
                
                    <div class="bor8 m-b-20 how-pos4-parent">
                        <input class="stext-111 cl2 plh3 size-116 p-l-62 p-r-30" type="file" name="profile_picture">
                    </div>

                    <button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer"
                            type="submit">
                        Update Profile
                    </button>
                </form>
            </div>
        </div>
    </div>
</section>


<!-- Map -->
<div class="map">
    <div class="size-303" id="google_map" data-map-x="40.691446" data-map-y="-73.886787"
         data-pin="{% static 'images/icons/pin.png' %}" data-scrollwhell="0" data-draggable="1" data-zoom="11"></div>
</div>

</body>
</html>
{% endblock %}
